/* ==================== PAD ==================== */

@media screen and (max-width: 1000px) {

    /* HEADER */

    header ul {
        margin-top: 70px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    
    header ul li {
        margin-top: 20px;
    }

    header ul li a {
        margin-left: 30px;
    }

    /* END OF HEADER */


    /* SECTION */

    .parallax {
        width: auto;
        height: 40vh;
    }

    #Layer1{
        object-fit: fill;
        width: 100vw;
        height: auto;
        display: flex;
    }

    #Layer2{
        object-fit: fill;
        width: 100vw;
        height: auto;
        display: flex;
    }

    #Layer3{
        object-fit: fill;
        width: 100vw;
        height: auto;
        display: flex;
    }

    #Layer4{
        object-fit: fill;
        width: 100vw;
        height: auto;
        display: flex;
    }

    /* END OF SECTION */


    /* MAIN */
    
    main .container {
		width: 100vw;
		height: auto;
	}

	main .heading h2 {
		font-size: 20px;
	}

	main .destination-wrapper {
		height: 120vh;
	}

	main .destination {
		width: 50%;
		margin-bottom: 30px;
	}

    /* END OF MAIN */


    /* TESTIMONIAL */

    .test {
        height: 90vh;
        width: 100vw;
        padding: 0px 30px;
        text-align: center;
    }

    .test .heading h2 {
        font-size: 20px;
    }

    .test .testimoni {
        display: contents;
    }

    .test .text {
        text-align: left;
    }

    .test .text img {
        margin-left: 50px;
        transform: scale(0.75);
    }

    /* END OF TESTIMONIAL */


    /* ARTICLE */

    article .container {
        width: 100vw;
        height: auto;
    }

    article .heading h2 {
        font-size: 20px;
    }

    article .guide-wrapper {
        height: 90vh;
    }

    article .guide {
        width: 50%;
        margin-bottom: 150px;
    }

    /* END OF ARTICLE */


    /* FOOTER */
    
    footer {
        width: 100vw;
    }
    
    footer .sosial-media ul li img {
        width: 20px;
        height: 20px;
        margin: 0px 10px;
    }

    footer .footer_info .other {
        text-align: center;
        padding-left: 0px;
    }

    footer .link {
        text-align: center;
        display: inline;
        margin: 20px 10px;
        font-size: 18px;
    }

    footer .other .contact ul li {
        padding-left: 5px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    footer .sosial-media {
        margin-top: 10px;
    }

    /* END OF FOOTER */

}

/* xxxxxxxxxxxxxxxxxxxx END OF PAD xxxxxxxxxxxxxxxxxxxx */


/* ==================== SMARTPHONE ==================== */

@media screen and (max-width: 600px) {

    /* HEADER */

    header ul {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }
    
    header ul li {
        margin-top: 20px;
    }

    header ul li a {
        margin-left: 30px;
    }

    /* END OF HEADER */


    /* SECTION */

    .parallax {
        width: auto;
        height: 27vh;
    }
    
    /* END OF SECTION */


    /* MAIN */

	main .heading h2 {
		margin-left: 75px;
		font-size: 15px;
	}

    main .destination-wrapper {
		height: 300vh;
	}

	main .destination {
		width: 100%;
	}

    /* END OF MAIN */


    /* TESTIMONIAL */

    .test {
        height: 110vh;
        padding: 0px 30px;
        width: 100vw;
    }

    .test .testi-img {
        transform: scale(0.75);
    }

    .test .testimoni {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .test .text {
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    /* END OF TESTIMONIAL */


    /* ARTICLE */

    article .container {
        width: 400px;
        height: auto;
    }

    article .heading h2 {
        font-size: 15px;
        margin-left: 75px;
    }

    article .guide-wrapper {
        height: 100vh;
    }

    article .guide {
        width: 100%;
        
    }

    /* END OF ARTICLE */


    /* FOOTER */
    
    footer .about, .contact, .link{
        width: 100%;
        margin-bottom: 30px;
    }
    
    footer .footer_info{
        flex-direction: column;
    }

    /* END OF FOOTER */

}

/* xxxxxxxxxxxxxxxxxxxx END OF SMARTPHONE xxxxxxxxxxxxxxxxxxxx */