@media screen and (max-width: 1000px) {
	.container {
		width: 600px;
		height: auto;
	}

	.heading h2 {
		font-size: 20px;
		/* margin-left: 35px; */
	}

	.destination-wrapper {
		height: 1100px;
	}

	.destination {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 400px;
		height: auto;
	}

	.heading h2 {
		margin-left: 75px;
		font-size: 15px;
	}

	.destination-wrapper {
		height: 2200px;
	}

	.destination {
		width: 100%;
	}
}